<%- include("../partials/navbar") %>
<div class="row">

	<div class="col-2" style="background-color: #b6f0e8; ">
		<br>
		<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
			<a href="/project" class="btn btn-sm btn-dark" role="button" aria-pressed="true"> <span
					aria-hidden="true"></span> Back to main menu</a> <br>
			<a class="nav-link active"
				href="/project/overview/<%= result.projectid %>">Overview</a>
				<hr>
			<a class="nav-link active"
				href="/project/activity/<%= result.projectid %>">Activity</a>
			<hr>
			<a class="nav-link active"
				href="/project/member/<%= result.projectid %>">Members</a>
				<hr>
			<a class="nav-link active"
				href="/project/issues/<%= result.projectid %>">Issues</a>
				<hr>
		</div>
	</div>