<%- include("../partials/sidebar") %>
<div class="col-9">
    <br>
    <h2 class="text-center"> Activity <small class="text">#<%= result.projectid %> <%= result.name %></small></h2>
    <p class="h5 mb-4 text center-dark"></p>
    <br>
    <form action="">
        <div class="row">
            <div class="col-6">
                <% activitydate.forEach((item) => { %>
                <div class="card shadow-sm mb-3" style="max-width: 60rem;">
                    <div class="card-header">
                        <h5><%= item.date %></h5>
                    </div>
                    <% item.data.forEach((list) => { %>
                    <div class="card-body">
                        <p class="card-text">
                            <strong><%= list.title %></strong> - <%= list.description %>
                            <br>
                            Author: <%= list.nama %>
                        </p>
                        <p class="card-text">
                            <strong><span class="badge badge-pill badge-info"> <%= list.dateactivity %>
                                </span></strong>
                            <strong><span
                                    class="badge badge-pill badge-warning"><%= list.timeactivity %></span></strong>
                        </p>
                        <hr>
                    </div>
                    <% }) %>
                </div>
                <% }) %>
            </div>
        </div>
    </form>

    <%- include("../partials/footer") %>