<%- include("../partials/navbar") %>

<body>
    <div class="container-fluid">
        <br>
        <h2>Add Project</h2>
        <hr>
        <form method="post">
            <div class="container">
                <div class="form-group row">
                    <label for="inputName" class="col-sm-2 col-form-label" name="checkName">
                        Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="name" placeholder="Project Name">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="form-group row">
                    <label for="inputBoolean" class="col-sm-2 col-form-label" name="member">
                        Member</label>
                    <div class="col-sm-10">
                        <% result.forEach((item) => { %>
                        <div class="form-check mb-2">
                            <input class="form-check-input" type="checkbox"
                                id="<%= item.firstname + ' ' + item.lastname %>" name="member"
                                value="<%= item.userid %>, '<%= item.position %>'" />
                            <label class="form-check-label" for="<%= item.firstname + ' ' + item.lastname %>">
                                <%= item.firstname + ' ' + item.lastname %>
                            </label>
                        </div>
                        <% }); %>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="form-group row">
                    <div class="col-sm-10">

                        <button class="btn" type="submit" style="background-color: #751a52; color: #fff;"
                            role="button">Add</button>
                        <a class="btn btn-info" href="/project" role="button">Back</a>
                    </div>
                </div>
            </div>
            <div class="flex-col-c p-t-100">
                <span class="txt1 p-b-25" style="color: #fff;">
                    Made by "Abushanum"
                </span>
            </div>
    </div>
    <%- include("../partials/footer") %>