<%- include("../partials/navbar") %>

<body>
    <div class="container-fluid">
        <br>
        <h2>Edit Project</h2>
        <hr>
        <form method="post">
            <div class="container">
                <div class="form-group row">
                    <label for="inputName" class="col-sm-2 col-form-label" name="checkName">
                        Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="editname" placeholder="Project Name">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="form-group row">
                    <label for="inputBoolean" class="col-sm-2 col-form-label" name="editmember">
                        Member</label>
                    <div class="col-sm-10">
                        <% dataUser.forEach((item, index) => { %>
                            <div class="form-check">
                                <input class="form-check-input" id="check<%= index + 1 %>" type="checkbox"
                                    name="editmember" value="<%= item.userid %>, '<%= item.position %>'"
                                    <%= dataMembers.includes(item.userid) ? 'checked' : '' %>>
                                <label class="form-check-label" for="check<%= index + 1 %>">
                                    <%= item.firstname %> <%= item.lastname %>
                                </label>
                            </div>
                            <% }) %>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="form-group row">
                    <div class="col-sm-10">

                        <button class="btn" type="submit" style="background-color: #751a52; color: #fff;"
                            role="button">Save</button>
                        <a class="btn btn-info" href="/project" role="button">Back</a>
                    </div>
                </div>
            </div>
            <div class="flex-col-c p-t-100">
                <span class="txt1 p-b-25" style="color: #fff;">
                    Made by "Abushanum"
                </span>
            </div>
    </div>
    <%- include("../partials/footer") %>