<%- include("../partials/navbar") %>
<!-- Full Page Intro -->
<div class="view"
    style="background-image: url('stylesheets/images/bg-01.jpg'); height: 200%; background-repeat: no-repeat; background-size: cover; background-position: center center;">

    <body>
        <div class="container-fluid">
            <br>
            <h1>Projects</h1>
            <hr>
            <div class="container">
                <h3>Filters</h3>
                <br>
                <form id="form-filter" method="GET">
                    <input type="hidden" name="page" value="1">
                    <div class="form-group row">
                        <label for="inputID" class="col-sm-2 col-form-label"> <input type="checkbox" name="checkId">
                            ID</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="inputID" placeholder="ID">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputName" class="col-sm-2 col-form-label"> <input type="checkbox" name="checkName">
                            Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="inputName" placeholder="Name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputBoolean" class="col-sm-2 col-form-label"> <input type="checkbox"
                                name="checkMember">
                            Member</label>
                        <div class="col-sm-10">
                            <select class="custom-select" name="inputMember">
                                <option selected>Choose Member</option>
                                <% usersData.forEach((item) => { %>
                                <option value="<%= item.userid %>"><%= item.name %></option>
                                <% }); %>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn"
                                style="background-color: #751a52; color: #fff;">Search</button>
                            <a class="btn btn-primary" href="/project" role="button">Show All</a>
                        </div>
                    </div>
                </form>
            </div>
            <hr>
            <div class="container">
                <form method="POST" action="/project/option">
                    <h3>Option</h3>
                    <br>
                    <div class="form-group row">
                        <div class="col-sm-2">Columns</div>
                        <div class="col-sm-10">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="checkID" name="checkId"
                                    value="true">
                                <label class="form-check-label" for="checkId">
                                    ID
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="checkName" name="checkname"
                                    value="true">
                                <label class="form-check-label" for="checkName">
                                    Name
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="checkMember" name="checkmember"
                                    value="true">
                                <label class="form-check-label" for="checkMember">
                                    Member
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn"
                                style="background-color: #751a52; color: #fff;">Apply</button>
                        </div>
                    </div>
                </form>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Member</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% data.forEach((item) => { %>
                        <tr class="table-row" data-href="/projects/overview/<%= item.projectid %>"></tr>
                            <th scope="row" style="text-align: left;">
                                <a href="/project/overview/<%= item.projectid%>">
                                    <button class="btn btn-outline-dark"><%= item.projectid %></button>
                                </a>
                            </th>
                            <td style="text-align: left;"><%= item.name %></td>
                            <td style="text-align: left;"><%= item.member %></td>
                            <td>
                                <a href="/project/edit/<%= item.projectid %>">
                                    <button type="button" class="btn btn-sm btn-success" type="submit">
                                        Edit
                                    </button>
                                </a>
                                <a href="/project/delete/<%= item.projectid %>">
                                    <button type="button" class="btn btn-sm btn-danger" type="submit">
                                        Delete
                                    </button>
                                </a>
                            </td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <li class="page-item<%= page == 1 ? ' disabled' : '' %>">
                            <a class="page-link"
                                href="/project<%= link.replace(`page=${page}`, `page=${parseInt(page) - 1}`) %>">Previous</a>
                        </li>
                        <% for(let i = 1; i <= pages; i++) { %>
                        <li class="page-item<%= i == page ? ' active' : '' %>">
                            <a class="page-link"
                                href="/project<%= link.replace(`page=${page}`, `page=${i}`) %>"><%= i %></a>
                        </li>
                        <% }; %>
                        <li class="page-item<%= page == pages ? ' disabled' : '' %>">
                            <a class="page-link"
                                href="/project<%= link.replace(`page=${page}`, `page=${parseInt(page) + 1}`) %>">Next</a>
                        </li>
                    </ul>
                </nav>

                <br>
                <a class="btn" style="background-color: #751a52; color: #fff;" href="/project/addproject"
                    role="button">Add</a>
            </div>
        </div>
    </body>
    <div class="flex-col-c p-t-100">
        <span class="txt1 p-b-25" style="color: #fff;">
            Made by "Abushanum"
        </span>
    </div>
</div>
<%- include("../partials/footer") %>